/* .admin-container {
    display: flex;
    height: 100vh;
    background-color: #f8f8f8;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}


.form-container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #ececec; 
    padding: 20px;
    border-radius: 10px;
}

.section h2 {
    font-size: 20px;
    font-weight: bold;
}

input, textarea {
    padding: 12px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    background: #dcdcdc; 
    color: #333;
}

textarea {
    height: 120px;
    resize: none;
}

.file-input {
    border: none;
}

.image-preview {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.image-preview img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid #cfcfcf;
}


.dropdown {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    padding: 8px;
    position: absolute;
    width: 220px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown li:hover {
    background: #f0f0f0;
}


.selected-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.selected-category {
    background: #e0e0e0;
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.selected-category button {
    background: none;
    border: none;
    margin-left: 6px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}


.add-button {
    background: #DAA520; 
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    grid-column: span 2;
}

.add-button:hover {
    background: #b8860b; 
} */